.icon-play {
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65em;
  color: $link;
  background-color: $bgcolor;
  border-radius: 50%;
  margin-left: 0.5em;
  padding-left: 0.25em;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
