---
title: Backgrounds
layout: layout-slides
---

%section
  %h1 Backgrounds

%section
  %pre
    %code.css
      :preserve
        .example {
          background-color: #dd6a92;
        }
  %p.note
    The background color of an HTML element is declared with <code>background-color</code>.
%section
  %pre
    %code.css
      :preserve
        .example {
          background-image: url(path/image.jpg);
        }
  %p.note
    The <code>background-image</code> property sets an image as a background.

%section
  %pre
    %code.css
      :preserve
        .example {
          background-image: url(path/image1.jpg),
                            url(path/image2.jpg);
        }
  %p.note
    We could set several background images, separated by commas.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="RwbpEGr" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The <code>background-repeat</code> property defines if the background image
    is repeated and how. The <code>background-position</code> property allows us
    to align the image across the background.

%section
  %pre
    %code.css
      :preserve
        .example {
          background: hotpink url(image.jpg) no-repeat right top;
        }
  %p.note
    The <code>background</code> property allows us to assign the values of several
    background properties together, separated by spaces.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="VwZpqXa" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The <code>background-size</code> property controls the size at which the
    background images appear.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="jONBXev" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    With the <code>background-image</code> property we can also set a gradient.
    In the <code>linear-gradient()</code> or <code>radial-gradient()</code> functions
    we will set the angle or position and color stops.

%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/background" target="_blank")
      <code>background</code> property at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-size" target="_blank")
      <code>background-size</code> property at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient" target="_blank")
      Linear gradients at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient" target="_blank")
      Radial gradients at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-linear-gradient" target="_blank")
      Repeating linear gradients at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-radial-gradient" target="_blank")
      Repeating radial gradients at MDN
