---
title: Basic selectors
layout: layout-slides
---

%section
  %h1 Basic selectors

%section
  .codepen(data-height="200" data-editable="true" data-theme-id="0" data-slug-hash="gBooEX" data-default-tab="css,result" data-user="htmlboy")
  %p
    The tag selector is its own name, without any additional&nbsp;characters.

%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="PyEQoR" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The class selector is written with a dot followed by the name of the chosen
    class. Classes cannot have spaces, special characters (punctuation marks,
    ñ, ç, `, ´, ^…), nor start with a&nbsp;numeral.
%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="JmMpKb" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can create styles that affect a class but only if a specific tag is
    applied. To achieve this, we write the name of the tag and then the class
    selector, without&nbsp;spaces.

%section
  .codepen(data-height="280" data-editable="true" data-theme-id="0" data-slug-hash="aREYBY" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The space between two selectors indicates that the second is descended from
    the first. For example, paragraphs within the <i>example</i>&nbsp;class.

%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="aREYEj" data-default-tab="css,result" data-user="htmlboy")
  %p
    We can continue nesting descendant selectors, separating each one by a&nbsp;space.

%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="NOXYmp" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can give styles by referring to the <code>id</code> attribute instead of
    the class. If this is the case, we will use the hash (<code>#</code>) instead
    of the dot. Whenever we can, it is preferable to use classes, since the id
    selector is very specific and difficult to override.

%section
  .codepen(data-height="280" data-editable="true" data-theme-id="0" data-slug-hash="yLBgqxv" data-default-tab="css,result" data-user="htmlboy")
  %p
    The more specific a selector, the more important it is, and this can alter the cascade.

%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="wYpjad" data-default-tab="css,result" data-user="htmlboy")
  %p
    The <code>*</code> selector affects all HTML tags.