---
title: Borders
layout: layout-slides
---

%section
  %h1 Borders

%section
  %pre
    %code.css
      :preserve
        .example {
          border: 5px solid blue;
        }
  %p.note
    To properly set a border we must declare the width and type. We can also
    assign the color, that by default is the color of the body text.
%section
  %pre
    %code.css
      :preserve
        .example {
          border-width: 5px;
          border-type: solid;
          border-color: blue;
        }
  %p.note
    The <code>border</code> property can be broken down into 3 properties:
    <code>border-width</code>, <code> border-type</code> and <code>border-color</code>,
    in case we want to modify only one of them.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="qBWrQPM" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can also refer to the top, right, bottom or left edge.

%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/border" target="_blank")
      Border styles at Mozilla Development&nbsp;Network
