---
title: Calculating values with calc()
layout: layout-slides
---

%section
  %h1 Calc()
  %h2 Calculating values
%section
  %pre
    %code
      :preserve
        .example{
          width: calc(100% - 80px);
        }
  %p.note
    The <code>calc()</code> function allo allows us to do simple calculations
    in the browser and assign them as values.

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="WNeOgBX" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can do addition (<code>+</code>), subtraction (<code>-</code>),
    multiplication (<code>*</code>) and division (<code>/</code>) operations.
    Operators need to be separated by spaces.

%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/calc" target="_blank")
      <code>calc()</code> function at MDN