---
title: Color y opacidad
layout: layout-slides
---

%section
  %h1 Color y opacidad

%section
  %pre
    %code
      :preserve
        .example{
          color: red;
          color: #ff0000;
          color: rgb(255, 0, 0);
        }
  %p
    Hay varias formas de asignar un color: palabra clave, hexadecimal, <code>rgb()</code>…

%section
  .codepen(data-height="350" data-theme-id="0" data-slug-hash="QZxBJR" data-default-tab="css,result" data-user="htmlboy")
  %p
    Podemos manipular la opacidad o transparencia a través de la propiedad <code>opacity</code> o el canal alfa de <code>rgba()</code>.

%section
  %img(src="color-opacidad-content/colorpicker.png" alt="")
  %pre
    %code
      :preserve
        .example{
          color: hsl(302, 100%, 50%);
        }
  %p
    El sistema <code>hsl()</code> es otra forma de declarar color que puede resultar más intuitiva.

%section
  %pre
    %code
      :preserve
        .example{
          color: hsla(302, 100%, 50%, 0.5);
        }
  %p
    El sistema <code>hsla()</code> funciona igual que <code>hsl()</code>, pero con el canal alfa.

%section
  %a(href="http://hslpicker.com" target="_blank")
    %img(src="color-opacidad-content/hslpicker.png" alt="")
  %p
    Puedes probar un editor de colores online en <a href="http://hslpicker.com" target="_blank">hslpicker.com</a>.