---
title: Displays
layout: layout-slides
---

%section
  %h1 Displays

%section
  %p
    HTML elements can be block-type (cause a line break) or line-type (they align as text).

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="pQJJYj" data-default-tab="css,result" data-user="htmlboy")
  %p
    By writing <code>display:inline</code> we can make a block element behave as a line element.
%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="WYvvqN" data-default-tab="css,result" data-user="htmlboy")
  %p
    And by writing <code>display:block</code> we can make a line element behave as a block element.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="dQoYyK" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Line elements do not apply margins and paddings as expected (moving upper or
    lower content). <br>If we want this behaviour without causing a line break, we
    can use the in-between <code>display:inline-block</code>.