---
title: Displays
layout: layout-slides
---

%section
  %h1 Displays

%section
  %p
    Los elementos HTML pueden ser de bloque (provocan un salto de línea) o de línea (se alinean como texto).

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="pQJJYj" data-default-tab="css,result" data-user="htmlboy")
  %p
    Escribiendo en nuestra CSS <code>display:inline</code> podemos hacer que un elemento de bloque se muestre como un elemento de línea.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="WYvvqN" data-default-tab="css,result" data-user="htmlboy")
  %p
    Y escribiendo <code>display:block</code> podemos hacer que un elemento de línea se muestre como un elemento de&nbsp;bloque.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="dQoYyK" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Los elementos de línea no aplican margins y paddings de la manera esperada (desplazando contenido superior o inferior). Si queremos este funcionamiento sin provocar un salto de línea, podemos utilizar el intermedio <code>display:inline-block</code>.
