---
title: Enlaces
layout: layout-slides
---

%section
  %h1 Enlaces
%section
  %h2
    %code
      &lt;a&gt;
  .codepen(data-height="200" data-editable="true" data-theme-id="0" data-slug-hash="LgzNXM" data-default-tab="html,result" data-user="htmlboy")
  %p
    La etiqueta <code>&lt;a&gt;</code> se utiliza para crear enlaces a otras páginas web.
%section
  %pre
    %code
      :preserve
        &lt;a href="pagina.html"&gt;Ejemplo de texto&lt;/a&gt;
  %p
    El atributo <code>href</code> sirve para indicar la ruta para llegar a la página web que queremos enlazar.

%section
  %pre
    %code
      :preserve
        &lt;a href="http://google.com"&gt;Ejemplo de texto&lt;/a&gt;
  %p
    Si la página que enlazamos es externa, tendremos que poner la dirección completa, incluyendo <code>http://</code>.

%section
  %pre
    %code
      :preserve
        &lt;a href="http://google.com" target="_blank"&gt;Ejemplo de texto&lt;/a&gt;
  %p
    Si queremos que se cargue en una nueva pestaña, usaremos el atributo <code>target="_blank"</code>.

%section
  %pre
    %code
      :preserve
        &lt;a href="#contacto"&gt;Contacto&lt;/a&gt;

        …
        …

        &lt;h3 id="contacto"&gt;Ejemplo de texto&lt;/h3&gt;
  %p.note
    Podemos enlazar a secciones concretas de una página que tengan el atributo <code>id</code>. Los <code>id</code> son identificadores únicos, y no hay dos con el mismo valor en una página. <br>Nos referiremos a los <code>id</code> con una almohadilla o hash: <code>#</code>

%section
  %pre
    %code
      :preserve
        &lt;a href="mailto:javier@swwweet.com"&gt;Envíame un mail&lt;/a&gt;
  %p.note
    Podemos enlazar a un mail con el prefijo <code>mailto:</code>, y esto abrirá el programa de correo electrónico que haya instalado por defecto en el ordenador.

