---
title: Esquinas redondeadas
layout: layout-slides
---

%section
  %h1 Esquinas redondeadas

%section
  %pre
    %code.css
      :preserve
        .example {
          border-radius: 20px;
        }
  %p.note
    Podemos declarar el radio de redondeo de una caja con la propiedad <code>border-radius</code>.

%section
  %pre
    %code.css
      :preserve
        .example {
          border-radius: 20px 25% 0 10px;
        }
  %p.note
    Podemos dar hasta 4 valores separados por espacios, que se asignar치n siguiendo
    la direcci칩n de las agujas del reloj, empezando por la esquina superior&nbsp;izquierda.

%section
  %pre
    %code.css
      :preserve
        .example {
          border-top-left-radius: 20px;
          border-top-right-radius: 25%;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 10px;
        }
  %p.note
    O bien modificar el <code>border-radius</code> de una esquina en concreto.



%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="rNByQov" data-default-tab="css,result" data-user="htmlboy")


%section
  %h2 M치s informaci칩n
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius" target="_blank")
      <code>border-radius</code> en Mozilla Development&nbsp;Network
