---
title: Estilos tipográficos
layout: layout-slides
---

%section
  %h1 Estilos tipográficos


%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="xxKdmJo" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Los estilos tipográficos se heredan. Si establecemos una familia tipográfica
      en el <code>body</code>, afecta a sus descendientes.


%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="wYpjdr" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Controlamos la familia tipográfica con <code>font-family</code>.
    %p
      Controlamos el tamaño tipográfico con <code>font-size</code>.
    %p
      Controlamos el peso tipográfico con <code>font-weight</code>.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="ZqvoPN" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Controlamos la variante tipográfica con <code>font-style</code> (normal o&nbsp;itálica).
    %p
      Controlamos el rayado con <code>text-decoration</code>.
    %p
      Controlamos la altura de línea con <code>line-height</code>.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="WadyeY" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Para aplicar color al texto, usamos la propiedad <code>color</code> (no confundir con <code>background-color</code>, para los fondos).
    %p
      Existen varias formas de declarar el color: palabra clave (inglés), #hexadecimal, rgb()…

%section
  .codepen(data-height="370" data-editable="true" data-theme-id="0" data-slug-hash="YzKNOXq" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Controlamos la alineación de un cuerpo de texto aplicando
      %code text-align
      a un elemento de bloque.