---
title: Etiquetas de documento
layout: layout-slides
---

%section
  %h1 Etiquetas de documento

%section
  %h3
    %code
      &lt;html&gt; &lt;/html&gt;
  %p
    La etiqueta <code>&lt;html&gt;</code> engloba casi todo: las etiquetas <code>&lt;head&gt;</code> y <code>&lt;body&gt;</code>.

%section
  %pre
    %code
      :preserve
        &lt;html&gt;
          …
          &lt;body&gt;
            &lt;h1&gt;Contenido&lt;/h1&gt;
          &lt;/body&gt;
        &lt;/html&gt;
  %p
    La etiqueta <code>&lt;body&gt;</code> engloba todo el contenido de la página (textos, imágenes, etc).

%section
  %pre
    %code
      :preserve
        &lt;html&gt;
          &lt;head&gt;
            …
          &lt;/head&gt;
          &lt;body&gt;
            …
          &lt;/body&gt;
        &lt;/html&gt;
  %p
    La etiqueta <code>&lt;head&gt;</code> engloba la meta información que necesita el navegador para renderizar la página: hojas de estilo,  &lt;title&gt;, codificación, etc.

%section
  %pre
    %code
      :preserve
        &lt;head&gt;
          &lt;title&gt; Título de la página &lt;/title&gt;
        &lt;/head&gt;
  %p
    La etiqueta <code>&lt;title&gt;</code> permite dar un título a la página (diferente de un encabezado) y aparecerá en la pestaña del navegador.


%section
  %pre
    %code
      :preserve
        &lt;head&gt;
          &lt;meta charset="utf-8"&gt;
        &lt;/head&gt;
  %p
    La etiqueta <code>&lt;meta&gt;</code> con el atributo <code>charset</code> nos permite indicar al navegador en qué codificación están los caracteres especiales de nuestro texto (ñ, ç, tildes, etc), para que no se confundan con otros.

%section
  %pre
    %code
      :preserve
        &lt;head&gt;
          &lt;link rel="stylesheet" href="estilos.css"&gt;
        &lt;/head&gt;
  %p
    La etiqueta <code>&lt;link&gt;</code> con los atributos <code>rel="stylesheet"</code> y <code>href</code> permite cargar una hoja de estilos.


%section
  %pre
    %code
      :preserve
        &lt;!DOCTYPE html&gt;
  %p
    La etiqueta <code>&lt;DOCTYPE&gt;</code> se emplea para indicar que una web sigue los estándares web, y no está creada en la época pre-estándares. Se coloca al principio de todo, fuera de la etiqueta <code>&lt;html&gt;</code>.

%section
  %pre
    %code
      :preserve
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
          &lt;head&gt;
            &lt;title&gt; … &lt;/title&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;link rel="stylesheet" href="estilos.css"&gt;
          &lt;/head&gt;
          &lt;body&gt;
            …
          &lt;/body&gt;
        &lt;/html&gt;
  %p
    Esta es la estructura completa de las etiquetas de documento.
