---
title: Etiquetas de bloque
layout: layout-slides
---

%section
  %h1 Etiquetas de bloque
%section
  %pre
    %code
      &lt;em&gt; &lt;strong&gt; &lt;span&gt; &lt;a&gt; &lt;img&gt;
  %p
    Estas etiquetas son de línea (no provocan un salto del contenido a continuación).
%section
  %pre
    %code
      &lt;p&gt; &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; …
  %p
    Estas etiquetas son de bloque (provocan un salto de línea), pero están preparadas para contener textos (no otros bloques).
%section
  %pre
    %code
      &lt;div&gt;
  %p
    Esta etiqueta de bloque sirve para crear estructuras, bloques y agrupaciones de bloques.
%section
  %pre
    %code
      :preserve
        <div class="cabecera">
          <h1>Titular</h1>
          <p>Contenido</p>
        </div>
  %p
    Podemos agrupar contenidos en un <code>&lt;div&gt;</code> y aplicarles estilos con una clase.
%section
  %pre
    %code
      :preserve
        <div class="cabecera">
          <h1>Titular</h1>
          <p>Contenido</p>
          <div class="destacado">
            <p>Texto destacado</p>
            <p>Texto destacado</p>
          </div>
        </div>
  %p
    Los <code>&lt;div&gt;</code> pueden agruparse unos dentro de otros para crear estructuras más complejas.
%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="MWgJVBG" data-default-tab="html,result" data-user="htmlboy")
  %p
    Los &lt;ul&gt; nos permiten crear listas. Cada elemento de una lista va
    dentro de un &lt;li&gt;.

%section
  .codepen(data-height="250" data-editable="true" data-theme-id="0" data-slug-hash="GRKrxYZ" data-default-tab="html,result" data-user="htmlboy")
  %p
    Los &lt;ol&gt; nos permiten crear listas numeradas. El resto de las reglas
    son iguales que con los &lt;ul&gt;.