---
title: Fondos
layout: layout-slides
---

%section
  %h1 Fondos

%section
  %pre
    %code.css
      :preserve
        .example {
          background-color: #dd6a92;
        }
  %p.note
    El color de fondo de un elemento en HTML se declara con <code>background-color</code>.

%section
  %pre
    %code.css
      :preserve
        .example {
          background-image: url(ruta/imagen.jpg);
        }
  %p.note
    La propiedad <code>background-image</code> permite asignar una imagen como fondo.


%section
  %pre
    %code.css
      :preserve
        .example {
          background-image: url(ruta/imagen1.jpg),
                            url(ruta/imagen2.jpg);
        }
  %p.note
    Podríamos declarar varias imágenes de fondo, separadas por comas.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="RwbpEGr" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    La propiedad <code>background-repeat</code> nos permite indicar si la
    imagen de fondo se repite y cómo. La propiedad <code>background-position</code>
    nos permite alinear la imagen respecto al fondo.

%section
  %pre
    %code.css
      :preserve
        .example {
          background: hotpink url(imagen.jpg) no-repeat right top;
        }
  %p.note
    La propiedad <code>background</code> permite asignar los valores de las
    propiedades de fondo seguidas, separadas por espacios.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="VwZpqXa" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    La propiedad <code>background-size</code> permite controlar el tamaño al que
    aparecen las imágenes de fondo.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="jONBXev" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Con la propiedad <code>background-image</code> también podemos declarar un
    degradado. En las funciones <code>linear-gradient()</code> o
    <code>radial-gradient()</code> indicaremos ángulo o posición y colores de corte.

%section
  %h2 Más información
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/background" target="_blank")
      La propiedad <code>background</code> en MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-size" target="_blank")
      La propiedad <code>background-size</code> en MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient" target="_blank")
      Degradados lineales en MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient" target="_blank")
      Degradados radiales en MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-linear-gradient" target="_blank")
      Degradados lineales en repetición en MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-radial-gradient" target="_blank")
      Degradados radiales en repetición en MDN
