---
title: Git, GitHub & Netlify
layout: layout-slides
---

%section
  %h1 Git, GitHub & Netlify
%section
  %p.note
    Developers usually work with centralised code repositories and version
    control software. These code repositories allow developers to work together
    in the same project and create parallel code&nbsp;versions.
  %p.note
    The most popular version control software is
    <a href="https://git-scm.com/" target="_blank">Git</a>.
%section
  %p.note
    Git has code versions known as <i>branches</i>. The main branch or most stable
    version of the code is called <code>master</code>.
  %p.note
    Software developers will normally create a copy of this branch as a new branch,
    apply some changes or create a new functionality, and once this new branch is
    stable, merge it to the <code>master</code> branch.

%section
  %p.note
    In Git, changes have different states: they might be in the <code>master</code>
    branch or on a new branch; and they might be just in developer's own computer, or
    also uploaded to the version control server.

%section
  %p.note
    The most popular version control server service is called
    <a href="https://github.com">GitHub</a>, and you can create an account for free.
  %p.note
    Git interaction and GitHub syncing usually relly on the Terminal or Command
    Prompt apps; but the easiest way to start working with these tools is with a
    Graphical User Interface app like
    <a href="https://desktop.github.com/" target="_blank">GitHub&nbsp;Desktop</a>.

%section
  %h3 Steps for a new repository
  %ol.note
    %li.fragment Enter your GitHub account and click on ˝New˝.
    %li.fragment Add a name (no spaces or special characters).
    %li.fragment Set it as Public (if you want other users to check it out) or Private.
    %li.fragment Click on ˝Create repository˝.
    %li.fragment Access the new repository, click on ˝Clone or download˝ and select ˝Open in Desktop˝.
    %li.fragment Select the Local Path where the repository will be stored in your&nbsp;computer.

%section
  %h3 Steps for adding changes (master branch)
  %ol.note
    %li.fragment Open your local version of the repository in the code editor.
    %li.fragment Create changes and save them.
    %li.fragment In GitHub Desktop, create a Commit (changes package) with a Summary of the changes.
    %li.fragment Click on ˝Commit to master˝
    %li.fragment Click on ˝Push origin˝ when you want to upload these changes to the server.
    %li.fragment And in case you're not sure you have the latest version of the code, you can download it by clicking on ˝Fetch origin˝.

%section
  %p.note
    In order to publish a website, you can hire some space in a hosting service,
    upload your website files with an FTP program (a popular and free one is
    <a href="https://filezilla-project.org/" target="_blank">FileZilla</a>) and
    link your domain to that hosting service.
  %p.note.fragment
    But another service you could use is
    <a href="https://www.netlify.com/" target="_blank">Netlify</a>, that can upload
    the content directly from your GitHub account and the most basic service is free.