---
title: Imágenes
layout: layout-slides
---

%section
  %h1 Imágenes
%section
  %h2
    %code
      &lt;img&gt;
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="oaGxqQ" data-default-tab="html,result" data-user="htmlboy")
  %p
    La etiqueta <code>&lt;img&gt;</code> se utiliza para mostrar imágenes de contenido en una web.
%section
  %pre
    %code
      :preserve
        &lt;img src="gato.jpg"&gt;
  %p
    El atributo <code>src</code> sirve para indicar la ruta para llegar al archivo de la imagen, incluyendo el nombre del propio archivo.

%section
  %pre
    %code
      :preserve
        &lt;img src="gato.jpg" alt="Un gato pardo"&gt;
  %p
    Si la imagen tiene valor informativo, debemos poner un texto que la describa en el atributo <code>alt</code> y así podrá ser interpretada por lectores de pantalla.

%section
  %pre
    %code
      :preserve
        &lt;img src="imagen.jpg" alt=""&gt;
  %p
    Si la imagen no tiene valor informativo, debemos dejar el atributo <code>alt</code> vacío.

%section
  %pre
    %code
      :preserve
        &lt;img src="images/gato.jpg" alt=""&gt;
  %p
    Si una imagen se encuentra dentro de una carpeta respecto a la página (archivo HTML) que la llama, se debe poner el nombre de la carpeta.

%section
  %img(src="imagenes-content/arbol-carpetas.png" alt="")
  %p
    Si la carpeta de imágenes se encuentra en un nivel de carpetas superior respecto al archivo HTML, usaremos dos puntos (<code>..</code>) para subir un nivel de carpetas.
  %pre
    %code
      :preserve
        &lt;img src="../images/gato.jpg" alt=""&gt;

%section
  %pre
    %code
      :preserve
        &lt;img src="../../images/gato.jpg" alt=""&gt;
  %p
    Para cada nivel de carpetas que queramos subir, añadiremos dos puntos más.
