---
title: Introducción a la web
layout: layout-slides
---

%section
  %h1 Introducción a la&nbsp;web
%section
  %h2 ¿Qué es internet?

%section
  %p.note
    Es un conjunto descentralizado de redes de comunicación interconectadas que
    utilizan la familia de protocolos TCP/IP.
%section
  %h2 ¿Hace cuánto que existe?

%section
  %img(src="introduccion-web-content/arpanet.png" alt="Esquema Arpanet, 1977")
  %p.note
    Sus orígenes se remontan a 1969, cuando se estableció la primera conexión de
    computadoras, conocida como ARPANET, entre tres universidades en California.
%section
  %h2 ¿Qué es la web?
%section
  %p.note
    Es un sistema de distribución de documentos de hipertexto o hipermedia
    interconectados y accesibles a través de Internet.
%section
  %h2 ¿Hace cuánto que existe?
%section
  %img(src="introduccion-web-content/first-web-server.jpg" alt="Primer servidor web")
  %p.note
    La Web se desarrolló entre marzo de 1989 y diciembre de 1990,​ por el inglés
    Tim Berners-Lee con la ayuda del belga Robert Cailliau mientras trabajaban
    en el CERN en Ginebra, Suiza.
%section
  %a(href="https://worldwideweb.cern.ch/" target="_blank")
    %img(src="introduccion-web-content/www.png" alt="Primer navegador web")
  %p.note
    %a(href="https://worldwideweb.cern.ch/" target="_blank")
      Primera página web y primer navegador (recreación)

%section
  %h2 ¿De qué está compuesta una web?
%section
  %pre
    %code.html
      &lt;html&gt; Contenido &lt;/html&gt;
  %p.note
    HTML: contenidos y estructura.
%section
  %pre
    %code.css
      :preserve
        .css{
          color: pink;
        }
  %p.note
    CSS: apariencia visual.
%section
  %pre
    %code.js
      :preserve
        var numTotal = 4;
        if( numTotal > 3 ){
          alert("Javascript!");
        }
  %p.note
    JavaScript: comportamiento/programación.

%section
  %h2 ¿Qué pasa al acceder a una web?
%section
  %img(src="introduccion-web-content/server.png" alt="")
  %p.note
    Para publicar una web necesitamos alojar los archivos necesarios en
    un ordenador permamentemente conectado a Internet, con un software concreto
    y una dirección física, una IP (ejemplo: 79.153.70.215).
  %p.note
    Normalmente contrataremos este servicio, conocido como <i>hosting</i>, a
    empresas especializadas, pagando un alquiler anual.

%section
  %img(src="introduccion-web-content/icann.jpg" alt="")
  %p.note
    Además, necesitamos contratar un dominio (también alquiler anual). Los
    dominios de Internet se centralizan en un registro controlado por la asociación
    sin ánimo de lucro ICANN, y permiten asociar un nombre y extensión
    (www.ejemplo.com, .net, .org…) con la IP de un&nbsp;servidor.

%section
  %img(src="introduccion-web-content/browser-address.png" alt="")
  %p.note
    Cuando introducimos una dirección en el navegador (o seguimos un enlace),
    el navegador comprueba la IP asociada al dominio y se pone en contacto con
    el servidor.
  %p.note
    A través del resto de la dirección, el sofware del servidor sabe qué archivo
    HTML debe devolver. Cuando accedemos a la raíz del dominio (www.ejemplo.com),
    el servidor suele mostrar el archivo index.html, la portada.

%section
  %img(src="introduccion-web-content/web-no-styles.png" alt="")
  %p.note
    El navegador descarga un archivo de texto (HTML), que tiene información sobre
    sus contenidos, pero también información de los archivos dependientes
    (imágenes, hojas de estilo y scripts de JavaScript).

%section
  %img(src="introduccion-web-content/web-with-styles.png" alt="")
  %p.note
    Una vez ha descargado imágenes y las hojas de estilo (CSS), tiene información
    suficiente para mostrar la página con el formato que esperábamos.

%section
  .img-collage
    %img(src="introduccion-web-content/web-with-js.png" alt="")
    %img(src="introduccion-web-content/web-with-js-2.png" alt="")
  %p.note
    Y una vez ha descargado e interpretado el JavaScript, puede añadir interacción
    avanzada a la página (que inicialmente no se diferencia mucho de un documento Word).

%section
  %h2 ¿Cómo ha evolucionado la WWW?

%section
  %img(src="introduccion-web-content/timbl.png" alt="")
  %p.note
    La WWW se desarrolla entre 1989 y 1990, y se publica en 1992.

%section
  %a(href="http://www.spacejam.com" target="_blank")
    %img(src="introduccion-web-content/spacejam.png" alt="")
  %p.note
    Se van creando sitios web con estilos básicos, empleando para ello etiquetas
    HTML de estilado y con una interacción muy limitada.
  %p.note
    <a href="http://www.spacejam.com" target="_blank">La página de Space Jam</a>, publicada en 1996.

%section
  %p.note
    En 1995 se lanza la primera versión de JavaScript, que permitirá añadir
    instrucciones de programación que se interpretan directamente en el navegador,
    y conseguir con ello páginas web mucho más interactivas.

%section
  %p.note
    En 1996 se lanza la primera versión de CSS, o <i>Cascading Style Sheets</i>,
    el lenguaje de estilado que permitirá separar el contenido (HTML) de la
    presentación visual.

%section
  %img(src="introduccion-web-content/crt.jpg" alt="")
  %p.note
    Durante varios años, la web es patrimonio del ordenador de escritorio, cuyos
    monitores van ganando tamaño y resolución, pero resultan bastante&nbsp;uniformes.

%section
  %img(src="introduccion-web-content/iphone.png" alt="")
  %p.note
    En 2007 llega el iPhone, el primer smartphone, y con ello nos vemos obligados
    a crear una web que pueda funcionar también en estos dispositivos (y los que
    vendrán).

%section
  %img(src="introduccion-web-content/rwd.png" alt="")
  %p.note
    En 2010 Ethan Marcotte concibe el Responsive Web Design, un conjunto de
    técnicas y reglas para que el mismo sitio web se adapte a diferentes dispositivos.

%section
  %img(src="introduccion-web-content/react.png" alt="")
  %p.note
    Entre 2010 y 2014 surgen frameworks como Angular, React o Vue, basados en
    JavaScript y pensados para crear <i>web apps</i>, sitios web con alta
    interacción en el navegador sin necesidad de recargar la página.

%section
  %p.note
    La popularización de estas librerías y la complejidad de los desarrollos y
    las herramientas hace cambiar el paradigma de cómo vemos las páginas web.

%section
  %img(src="introduccion-web-content/interface.png" alt="")
  %p.note
    Ya no hablamos de páginas, sino de componentes.

%section
  %img(src="introduccion-web-content/components.png" alt="")
  %p.note
    Identificamos los elementos que componen y se repiten a lo largo de
    una interfaz, los aislamos y centralizamos su diseño y desarrollo.