---
title: Introduction to the subject
layout: layout-slides
---

%section
  %h1 Introduction to&nbsp;web&nbsp;design
  %h2 About the&nbsp;subject

%section
  %h2 Hello
  %p.fragment
    My name is Javier Usobiaga and I'm a web designer.
  %p.fragment
    I live in Barcelona and work in &nbsp;<a href="https://swwweet.com">Swwweet</a>,
    my&nbsp;own&nbsp;studio.


%section
  %h2 Subject goals
  %ul.note
    %li.fragment Learn about the web design industry
    %li.fragment Plan and design a web site
    %li.fragment Learn how to write HTML & CSS code
    %li.fragment Create a responsive web site
    %li.fragment Publish a web site

%section
  %h2 Classes
  %ul.note
    %li.fragment During the class, theory will be combined with small exercises and&nbsp;examples.
    %li.fragment All the sessions will require a computer.
    %li.fragment Part of each session will be dedicated to a practical activity (design or code something).
    %li.fragment These practical activities might be finished as homework.
    %li.fragment Each practical activity will be delivered during the next session and will have an impact on&nbsp;qualifications.
%section
  %h2 Qualification
  %ul.note
    %li.fragment Practical activities in class: 30%
    %li.fragment Mid-course assignments: 30%
    %li.fragment Final assignment: 40%
  %p.note.fragment
    There is no final exam and assignments will be submitted&nbsp;online.

%section
  %h2 Please
  %ul.note
    %li.fragment
      Please don't skip classes. They're very practical and it's easy to get&nbsp;lost.
    %li.fragment
      Please be on time.
    %li.fragment
      Please ask questions if you get lost.
%section
  %h2 Contact
  %p
    You can contact me at <a href="mailto:javier.usobiaga@iqs.edu">javier.usobiaga@iqs.edu</a>
    <br>or at <a href="mailto:javier@swwweet.com">javier@swwweet.com</a>.