---
title: JavaScript Utility Functions
layout: layout-slides
---

%section
  %h1 JavaScript Utility Functions

%section
  %h2 Changing class function
  .codepen(data-height="500" data-editable="true" data-theme-id="0" data-slug-hash="eYYoVQK" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")

%section
  %h2 Tab system
  .codepen(data-height="500" data-editable="true" data-theme-id="0" data-slug-hash="vYYMdvE" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")

%section
  %h2 Slide-toggle blocks
  .codepen(data-height="500" data-editable="true" data-theme-id="0" data-slug-hash="zYYXRbM" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")

%section
  %h2 Sliding menu
  .codepen(data-height="500" data-editable="true" data-theme-id="0" data-slug-hash="JjjVpqq" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")

%section
  %h2 Scroll-based changing header
  .codepen(data-height="500" data-editable="true" data-theme-id="0" data-slug-hash="XWWQEro" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")


