---
title: Media queries and responsive layouts
layout: layout-slides
---

%section
  %h1 Media queries
  %h2 and responsive layouts

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="NWKvGdm" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The core of a responsive web is a fluid structure, based in percentage widths,
    capable of adapting to the browser's width.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="qBWXOpP" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    By adding <code>img {max-width: 100%;}</code> to the CSS we ensure that the
    images are reduced when their container is smaller than their natural size.

%section
  %pre
    %code.css
      :preserve
        @media (max-width: 700px) {
          .example {background-color: red;}
        }
  %p.note
    A media query is a conditional rule (the condition is placed between parentheses
    and refers to the conditions of the browser window or the device).
  %p.note
    The CSS code between the <code>{}</code> of a media query will only be
    applied if the condition is met.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="mdbMeGQ" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    A <code>max-width</code> media query will only be applied when the window is
    equal to or smaller than the specified width.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="QWLMyWy" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    A <code>min-width</code> media query will only be applied when the window is
    equal to or greater than the specified width.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="oNvebXP" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can narrow a media query between a minimum and a maximum with the
    <code>and</code> keyword and a second condition.


%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries" target="_blank")
      Media queries at MDN
