---
title: Position
layout: layout-slides
---

%section
  %h1 Position

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="NEqxJz" data-default-tab="css,result" data-user="htmlboy")
  %p
    We can take out an element of its natural flow within a page with the property <code>position: absolute</code>.

%section
  %p
    An absolutely positioned element appears in its natural place by default, but without displacing other contents (and sometimes overlapping them).
%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="aQONOv" data-default-tab="css,result" data-user="htmlboy")
  %p
    The position of this element can be controlled with <code>top</code>, <code>bottom</code>, <code>left</code> or <code>right</code> properties.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="xQGVZV" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    To absolutely position an element inside another element (instead of the browser's window), the parent element needs to be set to <code> position: relative </code>.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="LXVNLy" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    In the case of several positioned elements, the order in which they're painted can be controlled with the <code>z-index</code> property.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="WYvwEm" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    As an alternative to <code> position: absolute</code>, we can use <code> position: fixed</code>, which keeps a fixed element within the browser&nbsp;window.
%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="BaBpqWM" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    And <code> position: sticky</code>, which turns a regular element into a fixed element once the user has scrolled to some extent.

%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/position" target="_blank")
      <code>position</code> at Mozilla Development&nbsp;Network
