---
title: Rounded corners
layout: layout-slides
---

%section
  %h1 Rounded corners

%section
  %pre
    %code.css
      :preserve
        .example {
          border-radius: 20px;
        }
  %p.note
    We can set the rounding radius of an element's corners with the property <code>border-radius</code>.

%section
  %pre
    %code.css
      :preserve
        .example {
          border-radius: 20px 25% 0 10px;
        }
  %p.note
    We can set up to 4 values separated by spaces, which will be assigned
    clockwise, starting at the upper left corner.

%section
  %pre
    %code.css
      :preserve
        .example {
          border-top-left-radius: 20px;
          border-top-right-radius: 25%;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 10px;
        }
  %p.note
    Or modify the <code>border-radius</code> of a particular corner.


%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="rNByQov" data-default-tab="css,result" data-user="htmlboy")


%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius" target="_blank")
      <code>border-radius</code> at Mozilla Development&nbsp;Network
