---
title: Shadows
layout: layout-slides
---

%section
  %h1 Shadows

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="bGbWRBb" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    A box shadow is normally declared with various values separated by spaces:
    displacement on the X axis, on the Y axis, blur and color.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="NWKjggq" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    If we add one more value after the blur, it will be interpreted as the
    <i>spread</i> or &ldquo;shadow padding&rdquo;, a color spacing before the blurring.


%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="wvwdepB" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Preceding the shadow values with the <code>inset</code> parameter, the shadow
    will be rendered inside the box.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="eYOWRME" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can assign as many shadows as we want, separated by commas.
%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="PoYmjxw" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    The <code>text-shadow</code> property allows shadows to be applied to the text
    the same way as with <code>box-shadow</code>. The main difference is that it
    does not accept the <code>inset</code> value.


%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow" target="_blank")
      <code>box-shadow</code> property at MDN
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow" target="_blank")
      <code>text-shadow</code> property at MDN