---
title: Sintaxis HTML
layout: layout-slides
---

%section
  %h1 Sintaxis HTML
%section
  %h2
    %code
      &lt;etiqueta&gt;
  %p
    Las etiquetas HTML se marcan con los símbolos
    %code < >


%section
  %h3
    %code
      &lt;etiqueta&gt; &lt;/etiqueta&gt;
  %p
    La mayoría de etiquetas tienen apertura y cierre.


%section
  %h3
    %pre
      %code
        :preserve
          &lt;etiqueta&gt;
            Ejemplo de contenido
          &lt;/etiqueta&gt;
  %p
    El contenido entre la etiqueta de apertura y la de cierre está asociado
    a esa etiqueta.


%section
  %h3
    %code
      &lt;p&gt;
  %p
    La etiqueta  &lt;p&gt; sirve para agrupar cada párrafo de un&nbsp;texto.

%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;p&gt;
            Esto es un ejemplo.
          &lt;/p&gt;

%section
  %h3
    %code
      &lt;br&gt;
  %p
    La etiqueta &lt;br&gt; sirve para hacer un salto de línea en un texto.


%section
  %h3
    %code
      &ltbr&gt; <del>&lt;/br&gt;</del>
  %p
    Las etiquetas que no pueden tener contenido no necesitan etiqueta de cierre.
%section
  %h3
    %code
      &ltbr /&gt;
  %p
    En ocasiones, este tipo de etiquetas se pueden escribir de esta forma, con el símbolo
    %code /
    al final de la misma.

%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;p class="ejemplo"&gt;
            Esto es un ejemplo.
          &lt;/p&gt;
  %p.note
    Las etiquetas HTML pueden tener atributos, que permiten aplicar
    metainformación que el navegador podrá interpretar. Se ponen siempre
    en la etiqueta de&nbsp;apertura.

%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;p class="ejemplo" id="principal"&gt;
            Esto es un ejemplo.
          &lt;/p&gt;
  %p.note
    Cada atributo se asocia a su valor con el símbolo
    %code =
    y el valor o valores se entrecomillan.

%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;p class="ejemplo alternativo" id="principal"&gt;
            Esto es un ejemplo.
          &lt;/p&gt;
  %p.note
    El atributo <code>class</code> puede tener más de un valor, separados por
    espacios (las clases se combinan). El atributo <code>id</code> solo puede
    tener un valor, y no puede haber dos <code>id</code> con el mismo valor en una
    misma&nbsp;página.

%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;!-- Esto es un comentario --&gt;
  %p.note
    Los comentarios de HTML permiten organizar nuestro código y decirle
    al navegador que ignore ciertos&nbsp;bloques.