---
title: Text tags
layout: layout-slides
---

%section
  %h1 Text tags
%section
  %h2
    %code.html
      &lt;p&gt;
  %p
    The &lt;p&gt; tag groups each paragraph of a&nbsp;text.
%section
  %h2
    %code.html
      &lt;br&gt;
  %p
    The &lt;br&gt; tag makes a text line break inside a paragraph or a text&nbsp;line.
%section
  %h2
    %code.html
      &lt;h1&gt;
  %p
    Identifies the main heading of a page. Normally there is only one per&nbsp;page.
%section
  %h3
    %pre
      %code.html
        :preserve
          &lt;h1&gt;
            First level heading
          &lt;/h1&gt;

%section
  %h4
    %code.html
      &lt;h1&gt;<br>
      &lt;h2&gt;<br>
      &lt;h3&gt;<br>
      &lt;h4&gt;<br>
      &lt;h5&gt;<br>
      &lt;h6&gt;
  %p
    Each of these headings refers to their importance within the text, never to
    the order in which they&nbsp;appear.

%section
  %h2
    %code.html
      &lt;em&gt;
  %p
    Adds <em>emphasis</em> on a particular piece of text. It is usually rendered as&nbsp;italic.
%section
  %pre
    %code.html
      :preserve
        &lt;p&gt;
          We can emphasize <em>specific words</em>.
        &lt;/p&gt;
%section
  %h2
    %code.html
      &lt;strong&gt;
  %p
    Indicates that one or more words have <strong> importance </strong> within
    the text. It is usually rendered as&nbsp;bold.

%section
  %pre
    %code.html
      :preserve
        &lt;p&gt;
          Or we can give <strong>importance</strong>
          to specific words.
        &lt;/p&gt;

%section
  %h2
    %code.html
      &lt;span&gt;
  %p
    It groups a piece of text and allows us to assign a&nbsp;class.
%section
  %pre
    %code.html
      :preserve
        &lt;p&gt;
          The <span class="red">span tag</span>
          lets us to select a string of text.
        &lt;/p&gt;
