---
title: Transformaciones
layout: layout-slides
---

%section
  %h1 Transformaciones
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scale(.5);
        }
  %p.note
    Las transformaciones modifican la apariencia de un elemento (escalar, rotar,
    desplazar, deformar…) sin afectar a los elementos que le rodean. Son interesantes
    para añadir interacción y efectos.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="XWrgYKw" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    La transformación de <code>scale()</code> cambiará el tamaño del elemento
    proporcionalmente al número que le pasemos entre paréntesis. Si solo queremos
    modificar la anchura o la altura, podemos usar <code>scaleX()</code> o
    bien&nbsp;<code>scaleY()</code>.


%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="PoYjaOO" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Con <code>rotate()</code> podemos indicar cuánto gira un elemento sobre sí mismo,
    pasando como parámetro los grados (<code>deg</code>).



%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="gOYRKvX" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Con <code>translate()</code> podemos indicar el desplazamiento en el eje X y
    en el eje Y del elemento, pasando dos valores separados por una coma. Si solo
    queremos desplazar en un eje, podemos usar <code>translateX()</code>
    o&nbsp;<code>translateY()</code>.


%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="zYOzaMG" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Con <code>skewX()</code> y <code>skewY()</code> podemos deformar un elemento
    en el eje X o Y el número de grados (<code>deg</code>) que le&nbsp;asignemos.

%section
  .codepen(data-height="400" data-editable="true" data-theme-id="0" data-slug-hash="wvweXZY" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Podemos asignar varias transformaciones, separadas por espacios. Además,
    podemos controlar el punto desde el que se realizan las transformaciones con
    la propiedad <code>transform-origin</code>.

%section
  %h2 Más información
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform" target="_blank")
      La propiedad <code>transform</code> en MDN
  %p.note
    También existen las transformaciones 3D, que con la ayuda de la propiedad
    %code perspective
    permiten añadir un tercer eje a las transformaciones y conseguir así nuevos&nbsp;efectos.
    %br
    Puedes encontrar más información aquí: <a href="http://3dtransforms.desandro.com/" target="_blank">3dtransforms.desandro.com</a>