---
title: Typographic styles
layout: layout-slides
---

%section
  %h1 Typographic styles


%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="xxKdmJo" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Typographic styles are inherited. If we establish a typographic family for
      the <code>body</code>, it affects their descendants.


%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="wYpjdr" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      The typographic family is set with <code> font-family</code>.
    %p
      the typographic size is set with <code>font-size</code>.
    %p
      The typographic weight is set with <code>font-weight</code>.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="ZqvoPN" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      The typographic variant is set with <code>font-style</code> (normal or&nbsp;italic).
    %p
      The underline is set with <code>text-decoration</code>.
    %p
      The line height is set with <code>line-height</code>.

%section
  .codepen(data-height="350" data-editable="true" data-theme-id="0" data-slug-hash="WadyeY" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      The text color is set with the <code>color</code> property (not to be
      confused with <code>background-color</code>, for the&nbsp;backgrounds).
    %p
      There are several ways to set a color: keyword (English), #hexadecimal, rgb()…
%section
  .codepen(data-height="370" data-editable="true" data-theme-id="0" data-slug-hash="YzKNOXq" data-default-tab="css,result" data-user="htmlboy")
  .note
    %p
      Body text alignment is set with the <code>text-align</code> property to a
      block element.