---
title: Variables and files setup
layout: layout-slides
---

%section
  %h1 Variables
  %h2 And files setup


%section
  %pre
    %code.css
      :preserve
        html {
          --color: hotpink;
        }
        p {
          color: var(--color);
        }
  %p.note
    CSS allows us to centralize values (sizes, colors…) in variables, which eases
    design updates. The variables can be declared globally in the <code>html</code>
    or <code>:root</code> selector (the name of the variables always starts
    with&nbsp;<code>--</code>) and can be used with the <code>var()</code> function
    and the name of the&nbsp;variable.

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="NWKjQqR" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    We can declare the variables in a context different from <code>:root</code>,
    and they will be available in this context. We can also overwrite them on a
    specific node.

%section
  %pre
    %code.css
      :preserve
        @import url(general.css);
        @import url(typography.css);
  %p.note
    The main style file can include external files with the <code>@import</code>
    rule. This allows to have a single style file linked in the <code>head</code>,
    and the styles divided into several files to make working with them easier.

%section
  %pre
    %code.css
      :preserve
        @import url(variables.css);
        @import url(general.css);
        @import url(typography.css);
        @import url(buttons.css);
        @import url(layout.css);
        @import url(header.css);
        @import url(footer.css);
        @import url(gallery.css);
        @import url(video.css);
        @import url(related-products.css);
  %p.note
    Divide the CSS into different files according to their function. Arrange them
    from the most general to the most specific. Centralize variables in one or
    more files to have more consistent styles.


%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*" target="_blank")
      CSS variables (also known as <i>custom properties</i>) at MDN
