---
title: Variables and files setup
layout: layout-slides
---

%section
  %h1 Variables
  %h2 And files setup


%section
  %pre
    %code.css
      :preserve
        html {
          --color: hotpink;
        }
        p {
          color: var(--color);
        }
  %p.note
    CSS allows us to centralize values (sizes, colors…) in variables, which eases
    design updates. The variables can be declared globally in the <code>html</code>
    or <code>:root</code> selector (the name of the variables always starts
    with&nbsp;<code>--</code>) and can be used with the <code>var()</code> function
    and the name of the&nbsp;variable.

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="NWKjQqR" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    Podemos declarar las variables en otro contexto que no sea el <code>:root</code>,
    y estarán disponibles en este contexto. También podemos sobreescribirlas en un
    nodo&nbsp;concreto.

%section
  %pre
    %code.css
      :preserve
        @import url(general.css);
        @import url(tipografia.css);
  %p.note
    El archivo principal de estilos puede incorporar otros archivos externos con
    la regla <code>@import</code>. Esto permite tener un solo archivo de estilos
    vinculado en el <code>head</code>, pero que la propia CSS esté dividida en
    varios archivos para facilitar el trabajo.

%section
  %pre
    %code.css
      :preserve
        @import url(variables.css);
        @import url(general.css);
        @import url(tipografia.css);
        @import url(botones.css);
        @import url(layout.css);
        @import url(cabecera.css);
        @import url(footer.css);
        @import url(galeria.css);
        @import url(video.css);
        @import url(productos-relacionados.css);
  %p.note
    Divide la CSS en diferentes archivos según su función. Ordénalos de lo
    más general a lo más específico. Centraliza las variables en uno o varios
    archivos para tener estilos más consistentes.


%section
  %h2 Más información
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*" target="_blank")
      Las variables de CSS (también conocidas como <i>custom properties</i>) en MDN
