---
title: Structuring information
layout: layout-slides
---

%section
  %h1 Visual design
  %h2 Principles

%section
  %h2 Usability principles
  -# Affordability, discoverability, etc

%section
  %h2 Color
-# - Composición del color
-# - Matiz, saturación, brillo
-# - Círculos cromáticos
-# - Combinaciones de colores
-# - Recomendaciones de accesibilidad
-# 	- Contraste (ver en escala de grises)
-#   - Información no solo en el color
-#   - Paletas de colores
-#     - Recursos
-#     - Colores para una interfaz
-#       · Aprox 9 shades de gris
-#       · Revisar tips de refactoring UI

%section
  %h2 Typography
  -# - 95% de la información en la web es lenguaje escrito
  -#   - Optimizar la tipografía es optimizar la legibilidad, la accesibilad, la usabilidad, el equilibrio gráfico general
  -# - Básicos: contraste, tamaño, line height, length, hierarchy
  -# - Escala tipográfica
  -# - tracking y kerning?
  -# - Tipografías
  -#   - Personalidad de la tipografía
  -#   - Clasificación de las familias
  -# - Elegir webfonts
  -#   - Tener en cuenta los caracteres
  -#   - Trabajar con dos tipografías, varios pesos
  -#   - Buscar el contraste
  -#     - Grosor, remate, ejes
  -#   - Misma altura de la x
  -#   - Ejemplo de conflicto
  -# - Páginas de combinaciones tipográficas y otros recursos


%section
  %h2 Illustration

%section
  %h2 Composition

%section
  %h2 Grids


%section
  %h2 Tools & resources
  %ul.note
    %li Figma
    %li Sketch