---
title: Webfonts
layout: layout-slides
---

%section
  %h1 Webfonts

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="RwbVEdG" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    When setting a typeface family, especially if we trust that it would be installed
    on the user's computer, we can declare alternatives, separated by commas.

%section
  .codepen(data-height="300" data-editable="true" data-theme-id="0" data-slug-hash="qBWmgeX" data-default-tab="css,result" data-user="htmlboy")
  %p.note
    If we load a typeface from an external service, such as Google Fonts, we will
    have to load their stylesheet, with the appropriate weights, and follow
    any other instructions.

%section
  %pre
    %code.css
      :preserve
        @font-face {
          font-family: Lobster;
          src: url(fonts/lobster-bold.woff) format("woff");
          font-weight: bold;
          font-style: normal;
        }
  %p.note
    If we load webfonts from our web archives, we will put an <code>@font-face</code>
    declaration at the beginning of our CSS for each file of each font weight,
    indicating its family, weight and style.

%section
  %pre
    %code.css
      :preserve
        @font-face {
          font-family: Lobster;
            src: url(fonts/lobster-bold.woff2) format("woff2"),
                 url(fonts/lobster-bold.woff) format("woff"),
                 url(fonts/lobster-bold.ttf) format("truetype");
          font-weight: bold;
          font-style: normal;
        }
  %p.note
    We can set several file formats (woff and woff2 are the standard, and woff2
    the lightest). The browser will download the first file that is capable of
    interpreting.

%section
  %h2 More information
  %p.note
    %a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face" target="_blank")
      <code>@font-face</code> rule at MDN
  %p.note
    %a(href="https://fonts.google.com/" target="_blank")
      Google Fonts (free fonts)
  %p.note
    %a(href="https://fonts.adobe.com/" target="_blank")
      Adobe Fonts (Creative Cloud subscription)
  %p.note
    %a(href="https://www.fontsquirrel.com/" target="_blank")
      Font Squirrel (free fonts)
  %p.note
    %a(href="https://www.fontsquirrel.com/tools/webfont-generator" target="_blank")
      Font Squirrel Webfont Gererator (format converter)