---
title: Resources - Introduction to web design
layout: layout-index
description:
menuActive: resources
---

%section.section-intro
  %h2 Resources
  %ul.slide-list
    %li
      %a(href="https://code.visualstudio.com/" target="_blank")
        VS Code, code editor
    %li
      %a(href="files/web.zip" target="_blank")
        Base de código
    %li
      %a(href="https://developer.mozilla.org/en-US/" target="_blank")
        Mozilla Developer Network